body {
    height: auto;
    background: linear-gradient(to top right, #d74177, #ffe98a);
}


.chat {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    margin: 10% auto;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    
}

.header {
    height: 70px;
    border-bottom: 1px solid black;
   padding-left:  20px;

}

.header, .krujochek {
    background: #d74177;
}

.topicname {
    margin: 0 0 0 0;
}
.container {
    width: 800px;
    height: 530px;
    overflow: auto;
    
}

#table-scroll {
    height: 530px;
    overflow: auto;
}
#table-wrapper table {
    width: 100%;
}

table td {
    border-right: 1px solid black;
}
table {
    border-collapse: collapse;
}

table tr td:first-child{
    background: #cc0052;
}
.cell {
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.bigblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
      margin: auto 10px 20px 10px;
}

.krujochek {
border: 1px solid black; 
border-radius: 50%;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.message {
    min-height: 30px;
    border: 1px solid black;
    margin-top: 3px;
    background: #b30047;


}
